<header>
  <button type="button" (click)="onReset()">❌</button>
  <h1>{{ price.toFixed(2) }}</h1>
  <button type="button" (click)="onPay()">💸</button>
</header>
<main>
  <h2>Kasse</h2>
  <ul class="items-list">
    <li class="items-list-item" *ngFor="let item of items">
      <div class="items-list-item-name">{{ item.name }} ({{item.price.toFixed(2)}} €)</div>
      <button type="button" (click)="onRemove(item)">➖</button>
      <button type="button" (click)="onAdd(item)">➕</button>
    </li>
  </ul>
</main>
<footer>
  <h2>Beleg</h2>
  <table>
    <tr>
      <th>Produkt</th>
      <th>Preis</th>
    </tr>
    <tr *ngFor="let item of bill">
      <td>{{ item.name }}</td>
      <td>{{ item.price.toFixed(2) }} €</td>
    </tr>
    <tr>
      <td>Summe</td>
      <td>{{ price.toFixed(2) }} €</td>
    </tr>
  </table>
</footer>
